version: "3.9"

services:
  db:
    image: postgres:16
    container_name: cart-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: cartdb
      POSTGRES_USER: cart
      POSTGRES_PASSWORD: cart
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
